.App-header {
  background-color: #2874a6;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  flex-direction: row;
}

.App-header h1 {
  color: white;
  padding-top: 11px;
  font-weight: bold;
}

.App-header div {
  font-size: 30px;
  color: #f0efef;
}
